.vscode/
.prof
__pycache__
*:Zone.Identifier
*.caffemodel
*.pt
*.ckpt
*.avi
*.pcd
*.pyc
*.swp
*.npz
*.pth.tar
*.egg-info
*.code-workspace
.ipynb_checkpoints
pyaarapsi/vpr/config.json
pyaarapsi/vpr/classes/data/custom_filters.json