.vscode/
build/
.prof
__pycache__
src/CMakeLists.txt
*:Zone.Identifier
*.caffemodel
*.pt
*.ckpt
*.avi
*.pcd
*.pyc
*.swp
*.npz
*.pth.tar
*.egg-info
*.code-workspace
.ipynb_checkpoints
vpr/config.json
vpr/classes/data/custom_filters.json